input[type="checkbox"] {
  cursor: pointer;
  accent-color: #cf711f;
  transform: scale(1.5); }

label {
  cursor: pointer; }

.page-layout {
  display: grid;
  grid-template-columns: 15rem auto;
  height: 87vh; }

.admin-panel {
  background-color: #fdf2e9;
  padding: 7rem 0;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  border-right: #cf711f solid 1px; }
  .admin-panel__button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    cursor: pointer; }
    .admin-panel__button__text {
      text-align: center;
      transform: translateY(-100%);
      font-size: 1.2rem;
      color: #cf711f;
      font-weight: 500; }
      .admin-panel__button__text.solve-spacing {
        transform: translateY(-70%); }
    .admin-panel__button.active {
      background-color: #fff;
      border-top: #cf711f 1px solid;
      border-left: #cf711f 1px solid;
      border-bottom: #cf711f 1px solid;
      transform: scaleX(1.02); }
      .admin-panel__button.active [name="settings"] {
        background-color: #fff; }
  .admin-panel__icon {
    position: relative;
    color: #e67e22; }
    .admin-panel__icon ion-icon {
      width: 5.4rem;
      height: 5.4rem;
      padding: 1.4rem;
      transform: translateX(25%); }
      .admin-panel__icon ion-icon[name="settings"] {
        height: 1.5rem;
        width: 1.5rem;
        background-color: #fdf2e9;
        border-radius: 1000px;
        position: absolute;
        padding: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 5%); }

.content-area {
  display: flex;
  flex-direction: column;
  padding: 6.4rem 3rem 12rem 4rem;
  gap: 2rem;
  max-width: 130rem;
  margin: 0 auto;
  transform: translateX(-7.5rem);
  overflow-y: scroll;
  overflow-x: hidden; }
  .content-area::-webkit-scrollbar {
    display: none; }

.content-title {
  font-size: 2.4rem;
  padding-bottom: 3rem;
  border-bottom: #ebebeb solid 2px; }

.search-container {
  font-size: 1.6rem;
  display: flex;
  gap: 4rem;
  align-items: center;
  padding: 2rem 0; }

.select-all {
  display: flex;
  gap: 2rem; }
  .select-all__text {
    letter-spacing: 1px; }

.search-bar {
  display: flex; }
  .search-bar__text-input {
    border: #e67e22 solid 2px;
    height: 4rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1rem;
    width: 44rem; }
  .search-bar__search-btn {
    letter-spacing: 2px;
    background-color: #e67e22;
    color: #fefaf6;
    align-self: stretch;
    padding: 0 2.4rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transform: translateX(-1px); }

.export-users-btn {
  color: #e67e22;
  background-color: transparent;
  border: #e67e22 solid 2px;
  height: 100%;
  padding: 0 3.2rem;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600; }

.users-table {
  table-layout: fixed;
  max-width: 100rem; }
  .users-table__head {
    font-size: 2rem; }
    .users-table__head__row th {
      text-align: start;
      padding: 1rem 0; }
    .users-table__head__row th:nth-child(1) {
      width: 4%; }
    .users-table__head__row th:nth-child(2) {
      width: 65%; }
    .users-table__head__row th:nth-child(3) {
      width: 23%; }
    .users-table__head__row th:nth-child(4) {
      width: 8%; }

.users-table__body__row {
  font-size: 1.6rem; }
  .users-table__body__row__data * {
    display: flex;
    align-items: center; }
  .users-table__body__row__options {
    cursor: pointer; }
    .users-table__body__row__options ion-icon {
      width: 2rem;
      height: 2rem;
      padding: 0.5rem 2rem; }
