/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS
  
Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*  */
/*  */
/* NAV STYLE */
/*  */
@import "./components/authComponent.scss";
@import "./components/errorComponent.scss";
@import "./components/notificationComponent.scss";
@import "./components/notLoggedInComponent.scss";
@import "./components/feedback.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* Because we want header to be sticky later */
  height: 5rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10rem;
  background-color: #fdf2e9;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.prompt-for-psw-overlay {
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: rgba(153, 153, 153, 0.76);
  backdrop-filter: blur(5px);
}

.prompt-psw-modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  height: 36rem;
  width: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  border-radius: 9px;
  overflow: hidden;
  padding-top: 3.2rem;
}

.error-message,
.prompt-message {
  padding: 0 4rem;
  /* display: inline-block; */
  height: 20%;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  /* justify-self: center??; */
  /* background-color: red; */
}

.close-psw-prompt-btn {
  letter-spacing: 2px;
  color: #fff;
  font-size: 2rem;
  border: none;
  width: 100%;
  height: 16%;
  background-color: #f65656;
  transform: scale(1.1);
}

.attention-icon {
  width: 7rem;
  height: 7rem;
  color: #e67e22;
}
.prompt-message {
  height: auto;
}
#user-psw-reauth {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
.close-psw-prompt-btn {
  background-color: #e67e22;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  background-color: #f0f0f0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  position: relative;
}

.console-wrapper {
  margin: 5rem auto 2rem auto;
  max-width: 95vw;
  display: grid;
  grid-template-columns: 3fr 10fr;
  /* margin: 5rem; */
  font-size: 2rem;
  column-gap: 3.6rem;
}
.console-categories-panel {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 11px;
  padding: 3rem;
}
.console-category {
  padding: 3rem;
  color: #333;
  cursor: pointer;
}
.console-category.selected {
  border-left: #555 1px solid;
}
.content {
  background-color: #fff;
  border-radius: 11px;
  height: 80vh;
  overflow-y: scroll;
  padding: 6rem;
}
.back-btn {
  height: 5rem;
  width: fit-content;
  display: inline-block;
  position: absolute;
  top: 5rem;
  left: 2rem;
  border-radius: 50%;
  background-color: #fff;
  padding: 1rem;
  & svg {
    height: 3rem;
  }
}
.content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.section-title {
  font-size: 2.4rem;
}
.acc-info-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  // border-bottom: #999 solid 1px;
  font-size: 1.8rem;
  // padding-top: 3.6rem;
  overflow: hidden;
}
.acc-info-elm {
  display: flex;
  align-items: center;
  border-left: none;
  border-right: none;
  padding: 1.6rem 0;
  /* justify-content: space-between; */
}
li:not(li:first-child) .acc-info-elm {
  border-top: rgba(153, 153, 153, 0.315) solid 2px;
}
.acc-info-title {
  font-weight: 600;
  width: 20rem;
}
.acc-info-cur-data {
  color: #777;
}
.edit-acc-info,
.change-acc-photo {
  margin-left: auto;
  background-color: #fff;
  border: none;
  font-size: 1.8rem;
  color: #216fdb;
  cursor: pointer;
  padding-right: 1rem;
}
.edit-acc-info:hover,
.change-acc-photo:hover {
  text-decoration: underline;
}

.acc-actions-container {
  padding-top: 3.6rem;
  display: flex;
  justify-content: space-between;
}
.acc-action-btn {
  background-color: #fff;
  border: none;
  font-size: 2rem;
  color: #216fdb;
  cursor: pointer;
  padding: 1rem 3rem;
}
.acc-action-btn:hover {
  text-decoration: underline;
}

.acc-expanded-setting {
  padding-top: 7rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  row-gap: 1.6rem;
}
.acc-expanded-setting input {
  width: 40rem;
}
.acc-expanded-setting label {
  width: 25rem;
}
.acc-related-action-btn {
  grid-column: 2/-1;
  width: 25rem;
  color: #fff;
  border: none;
  font-size: 2rem;
  background-color: #216fdb;
  cursor: pointer;
  border-radius: 4px;
  padding: 1rem 2rem;
}
.btn-overlay {
  filter: opacity(50%);
}
.expanded-forgot-psw {
  padding-top: 7rem;
}
.forgot-psw-info-txt {
  padding-top: 2rem;
}
.acc-expanded-setting.expanded-forgot-psw {
  display: block;
}
.acc-expanded-setting {
  animation: showExpandedAccSetting 0.5s ease-in;
}

@keyframes showExpandedAccSetting {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.edit-acc-info-section {
  display: grid;
  grid-template-columns: 20rem 20rem auto auto;
  justify-items: start;
  align-items: center;
  row-gap: 2rem;
  padding: 2rem 0 4rem 0;
}
.edit-acc-info-section .auth-input-label {
  /* padding-left: 2rem; */
  width: 20rem;
  grid-column: 1/2;
  grid-row: 1/1;
}
.edit-acc-info-section .auth-text-input {
  transform: translateX(-1rem);
  grid-column: 2/-1;
  grid-row: 1/1;
}
.edit-acc-info-cancel-btn,
.edit-acc-info-save-changes {
  background-color: #fff;
  border: none;
  padding: 1rem 3rem;
  border-radius: 4px;
  font-size: 2rem;
  transform: translateX(-1rem);
}
.edit-acc-info-save-changes {
  grid-column: 2/3;
  grid-row: 2/2;
  background-color: #216fdb;
  color: #fff;
}
.edit-acc-info-cancel-btn {
  grid-column: 3/4;
  grid-row: 2/2;
  background-color: #f0f0f0;
  margin-left: 2rem;
  border: #e0e0e0 1px solid;
}
.edit-acc-info-section.opening {
  animation: openEditWindow 1s;
  overflow: hidden;
}
.edit-acc-info-section.closing {
  animation: closeEditWindow 1s;
}
@keyframes openEditWindow {
  0% {
    height: 0px;
    padding: 0;
  }
  100% {
    height: 170.4px;
    padding: 2rem 0 4rem 0;
  }
}
@keyframes closeEditWindow {
  0% {
    height: 170.4px;
    padding: 2rem 0 4rem 0;
  }
  100% {
    height: 0px;
    padding: 0;
  }
}

.auth-input-label {
  margin-top: 2rem;
  margin-bottom: 0.3rem;
  font-size: 2rem;
}
.auth-text-input {
  border-style: none;
  border: #e0e0e0 solid 1px;
  border-radius: 9px;
  font-size: 2rem;
  padding: 1rem;
  background-color: #f5f5f5;
}

// acc info styling
.account-info {
  & input[type="checkbox"] {
    accent-color: #d8751e;
    transform: scale(1.2);
    margin: 5px;
  }
  & label {
    text-transform: capitalize;
  }
  & .image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    & button {
      padding: 0;
      margin: 0;
    }
    .acc-info-cur-data.picture {
      height: 10rem;
      width: 10rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 70%;
  }
  .console-wrapper {
    max-width: 170rem;
    padding: 0 10rem;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
  .console-wrapper {
    margin: 5rem auto 2rem auto;
    max-width: 95vw;
    grid-template-columns: 3fr 10fr;
    column-gap: 3rem;
  }
  .console-category {
    padding: 2rem 2rem;
    margin: 1rem 0;
  }
}

@media (max-width: 1000px) {
  .console-wrapper {
    grid-template-columns: 1fr;
    row-gap: 3.6rem;
  }
  .console-categories-panel {
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
  }
  .console-category {
    padding: 1rem;
  }
  .console-category.selected {
    border-left: none;
    border-top: #555 1px solid;
  }
  .content {
    height: 70vh;
    padding: 2rem 5rem;
  }
}

@media (max-width: 700px) {
  .console-wrapper {
    justify-items: center;
    align-items: center;
    height: 80vh;
  }
  .console-categories-panel {
    flex-direction: column;
    width: 40rem;
    display: none;
  }
  .console-category {
    text-align: center;
  }
  .console-category.selected {
    border-left: none;
    border-top: none;
  }
  .content {
    height: 100%;
    width: 100%;
  }
  .acc-info-elm {
  }
  .acc-info-title {
    width: 12rem;
  }
  .edit-acc-info-section {
    grid-template-columns: 10rem auto;
  }

  .edit-acc-info-section .auth-input-label {
    grid-column: 1/-1;
    grid-row: 1/1;
  }
  .edit-acc-info-section .auth-text-input {
    transform: translateX(0rem);
    grid-column: 1/-1;
    grid-row: 2/2;
  }
  .edit-acc-info-save-changes {
    grid-column: 1/1;
    grid-row: 3/3;
    transform: translateX(0rem);
  }
  .edit-acc-info-cancel-btn {
    grid-column: 2/2;
    grid-row: 3/3;
  }

  //
  .acc-expanded-setting input {
    width: 80%;
  }
  .acc-expanded-setting {
    grid-template-columns: 12rem auto;
  }

  .acc-expanded-setting label {
    width: fit-content;
  }
  .acc-actions-container {
    padding-top: 3.6rem;
    display: flex;

    justify-content: space-between;
    //
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .acc-info-elm {
    display: grid;
    grid-template-columns: auto auto;
  }
  .acc-info-title {
    width: fit-content;
    grid-column: 1/-1;
    padding: 1rem 0;
  }
  .image-wrapper {
    grid-column: 1/-1;
    align-self: flex-end;
  }
  li:first-child .acc-info-title {
    grid-row: 2;
  }
  .acc-expanded-setting {
    grid-template-columns: auto;
  }
  .acc-expanded-setting label {
    grid-column: 1/-1;
    grid-row: 1/1;
  }
  .acc-expanded-setting input {
    grid-column: 1/-1;
    grid-row: 2/2;
    width: 100%;
  }
  .acc-expanded-setting button {
    grid-column: 1/-1;
    grid-row: 3/3;
  }
}
@media (max-width: 380px) {
  .console-categories-panel {
    flex-direction: column;
    width: 100%;
  }
  .acc-info-elm button:last-child {
    grid-row: 3;
    grid-column: 1/1;
    margin: 0;
    justify-self: start;
    padding: 1rem 0;
  }
  .edit-acc-info-section .auth-text-input {
    width: 90%;
  }
  //
} ;
