// gradients for main color https://mycolor.space/?hex=%23E67E22&sub=1
$color-background: #fdf2e9;
$color-red: #e35a5c;
$color-green: #00b258;

$color-panel-btn-active: #fff;
$color-main: #e67e22;
$color-main-tint: #e98b38;
$color-main-unfocused: #f3bf91;
$gradient-main: linear-gradient(to left top, $color-main, $color-main-tint);
$color-panel-text: #cf711f;
$color-panel-border: #cf711f;
$color-search-btn: #fefaf6;
$color-gray-line: #ebebeb;

$font-size-medium-1: 2.4rem;
$font-size-small-1: 1.6rem;
$font-size-small-2: 1.8rem;
$font-size-small-3: 1.2rem;

$font-size-panel-text: 1.2rem;

$font-size-medium-2: 2rem;
$font-size-table-row: 1.6rem;

$width-panel: 15rem;

@mixin wrapper() {
  display: grid;
  background-color: $color-background;
  height: 75vh;
  width: 100vw;
}

body {
  background-color: $color-background;
}

.ingredients-wrapper {
  @include wrapper();
  grid-template-columns: 2fr 4fr;
  justify-content: center;
  height: 79vh;
}

.ingredients-to-evaluate {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 0rem 3rem 3rem 3rem;
  height: 110%;
  overflow-y: scroll;
  padding: 3rem 0;
  &::-webkit-scrollbar {
    display: none;
  }
  transform: translateY(-10%);
}
.evaluation-component {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  width: fit-content;
  & .ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    background-color: #fff;
    border-radius: 1000px;
    padding: 1rem;
    box-shadow: 0 0 30px 10px rgba(51, 51, 51, 0.068);
    &__img {
      height: 6.4rem;
      width: 6.4rem;
      border-radius: 1000px;
      outline: 2px solid $color-main;
    }
    &__text {
      font-size: $font-size-medium-1;
      width: 16rem;
    }
  }
}
.evaluation-btn {
  height: 5rem;
  width: 5rem;
  // background-color: #cf711f;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  box-shadow: 0 0 30px 10px rgba(51, 51, 51, 0.151);
  & ion-icon {
    height: 3.2rem;
    width: 3.2rem;
  }
  &__dislike {
    background-color: $color-red;

    & ion-icon {
      transform: translateY(5%);
    }
  }
  &__like {
    background-color: $color-green;
    & ion-icon {
      transform: translateY(-5%);
    }
  }
}
.evaluated-ingredients {
  width: 100%;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center;
    width: fit-content;

    & .ingredient {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 20rem;
      color: #fff;
      border-radius: 1000px;
      padding: 0.7rem;
      box-shadow: 0 5px 5px 2px rgba(51, 51, 51, 0.15);
      &__img {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 1000px;
        outline: 2px solid $color-main;
        background-color: #fff;
      }
      &__text {
        font-size: $font-size-small-1;
        width: 11rem;
      }
    }
  }
  &.evaluated-ingredients__liked {
    & .ingredient {
      background-color: $color-green;
    }
  }
  &.evaluated-ingredients__disliked {
    & .ingredient {
      background-color: $color-red;
    }
  }
}
.evaluated-ingredients-wrapper {
  display: flex;
  margin: 0 0 3rem 5rem;
  box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.05);
  gap: 2rem;
  padding: 2rem;
  border-radius: 9px;
  width: fit-content;
  width: 46rem;
  height: 95%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

$width-recipe-card: 32rem;
$height-recipe-card: 45rem;

.recipe-suggestions-wrapper {
  @include wrapper();
  grid-template-columns: 2fr 3fr;
}
.liked-recipes {
  margin-left: 5rem;
  margin: 0 0 3rem 5rem;
  box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.05);
  padding: 3.2rem;
  padding-top: 7rem;
  border-radius: 9px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  overflow: scroll;
  row-gap: 3rem;
  column-gap: 3rem;
  &:hover .img-and-title-component:not(:hover) {
    opacity: 0.5;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &__header {
    grid-column: 1/-1;
    justify-self: center;
  }
}

.img-and-title-component {
  background-color: #fff;
  border-radius: 9px;
  // overflow: hidden;
  height: 14rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: all 0.5s;
  &__img {
    border-radius: 9px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    // display: nones;
    transition: all 0.5s;
    background-color: $color-background;
  }
  &__title {
    // display: none;
    font-size: $font-size-small-3;
    font-weight: 300;
    text-align: center;
    padding: 1rem 2rem;
    backface-visibility: hidden;
    display: block;
    margin: 0 auto;
  }
  &:hover &__img {
    transform: translateY(-4.4rem);
    box-shadow: 0 -10px 30px 5px rgba(85, 85, 85, 0.2);
  }
  &:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 30px 5px rgba(85, 85, 85, 0.2);
  }
}

.swiper-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.4rem;
  &__card-container {
    width: $width-recipe-card;
    height: $height-recipe-card;
  }
}

.recipe-card-component {
  border-radius: 12px;
  box-shadow: 0 20px 30px 10px rgba(51, 51, 51, 0.151);
  width: $width-recipe-card;
  height: $height-recipe-card;
  background: $gradient-main;
  display: flex;
  flex-direction: column;
  position: relative;
  &__img {
    width: $width-recipe-card - 7rem;
    height: 20rem;
    border-radius: 12px;
    align-self: center;
    overflow: hidden;
    object-fit: cover;
    transform: translateY(-4rem);
    position: absolute;
    box-shadow: 0 5px 15px 5px rgba(51, 51, 51, 0.082);
    z-index: 1;
  }
  &__text-wrapper {
    padding: 15rem 4rem 4rem 4rem;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 10;
  }
  &__title {
    color: rgba(255, 255, 255, 0.884);
    font-size: $font-size-medium-2;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 2rem;
    text-align: center;
  }
  &__subtitle {
    font-size: $font-size-small-2;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: 1px;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
  &__ingredient {
    font-size: $font-size-small-1;
    color: rgba(255, 255, 255, 0.781);
    letter-spacing: 1px;
    padding-left: 3rem;
  }
  &__button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #fff;
    // padding: 1rem 2.4rem;
    padding: 1rem 1.8rem;
    border-radius: 1000px;
    font-size: $font-size-small-1;
    width: 18rem;
    font-weight: 400;
    box-shadow: 0 0 40px 10px rgba(51, 51, 51, 0.151);
    z-index: 5;
    color: #555;
    transition: all 0.3s;
    &::after {
      content: "";
      border-radius: 1000px;
      display: inline-block;
      height: 100%;
      width: 100%;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s;
      background-color: #fff;
    }
    &:hover::after {
      transform: scaleX(1.5) scaleY(1.7);
      opacity: 0;
    }
  }
}
.action-btns {
  display: flex;
  gap: 5rem;
  z-index: 20;
  &__btn {
    height: 5.6rem;
    width: 5.6rem;
    border-radius: 1000px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px 10px rgba(51, 51, 51, 0.151);
    & ion-icon {
      height: 3.2rem;
      width: 3.2rem;
    }
    &__dislike {
      color: $color-red;
      & ion-icon {
        transform: scale(1.2);
      }
    }
    &__like {
      color: $color-green;
    }
  }
}

.breadcrumbs {
  // position: absolute;
  // top: 1rem;
  // left: 4rem;
  font-size: $font-size-small-1;
  padding: 0 4rem 2rem 6.4rem;
}
.breadcrumb {
  width: fit-content;
  background-color: $color-main-unfocused;
  color: $color-background;
  cursor: pointer;
  &__first {
    padding: 1rem 3.6rem 1rem 2.4rem;

    clip-path: polygon(0 100%, 90% 100%, 100% 50%, 90% 0, 0 0);
  }
  &__second {
    padding: 1rem 3.6rem 1rem 4rem;

    clip-path: polygon(0 100%, 90% 100%, 100% 50%, 90% 0, 0 0, 10% 50%);
    transform: translateX(-2rem);
  }
  &.active {
    background-color: $color-main;
  }
}

.not-logged-in-screen {
  color: #999;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  & h3 {
    font-size: 5rem;
    letter-spacing: 8px;
  }
  & p {
    margin-top: 2rem;
    font-size: 3rem;
    letter-spacing: 3px;
  }
}
.auth-me {
  margin-top: 5rem;
  background-color: #e67e22;
  border: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  position: relative;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(7px);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  }
  &::after {
    border-radius: 9px;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    background-color: #e67e22;
  }
  &:hover::after {
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0;
  }
}
